* {
   font-family: Cambria;
   text-align: center;
}

#baner, footer {
   background-color: rgb(120, 0, 46);
   color: white;
   padding: 5px;
   font-size: 150%;
   clear: both;
}

/* footer {
   clear: both;
} */

#menu {
   background-color: rgb(173, 20, 87);
   text-align: left;
}

#lewy {
   background-color: snow;
   color: olivedrab;
   width: 60%;
   height: 322px;
   text-align: left;
   float: left;
}

#prawy {
   background-color: rgb(173, 20, 87);
   width: 40%;
   height: 322px;
   float: left;
}

img[src="auto.png"] {
   margin: 40px;
   padding: 10px;
}

img[src="auto.png"]:hover {
   border: dotted 1px yellowgreen;
}

a {
   padding: 0px, 50px;
}

table, td {
   border: 1px solid olivedrab;
}

table {
   width: 60%;
}



